/* theme settings */

:root {
  --font-family: "JetBrainsMono Nerd Font", monospace;
  --font-size: 14px;
  --font-weight: 400;
  --line-height: 1.2;

  --font-size-lyrics: 14px;

  --font-family-header: "asciid";
  --font-size-multiplier-header: 4;

  --display-card-image: block;
  --display-coverart-image: block !important;
  --display-header-image: block !important;
  --display-sidebar-image: block;
  --display-tracklist-image: block !important;
  --display-spicetify-banner-ascii: none !important;
  --display-music-banner-ascii: none;

  --border-radius: 0px;
  --border-width: 1px;
  --border-style: solid !important;
  --border-transition: 0.2s ease;

  --global-nav-margin-top: 0px !important;
}

*,
*::before,
*::after {
  border-radius: 0px !important;
}
